.search{
    display: flex;
    justify-content: start;
    margin: 10px 0 ;
}
.MRF{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.MRF-btn{
    width: 20%;
    flex-direction: column;
    display: flex;
    margin: 10% 0 0 0;
    flex-wrap: wrap;

}
.MRF-btn button{
    width: 30%;
    font-size: 14px;
    height: 35px;
}
.MRF-btn a{
    color: white;
    text-decoration: none;
}
.search input{
    width: 50%;
    height: 35px;
    margin: 0 3px;
    border: 1px solid black;
}

/* table */
.MRF-table{
    display: flex;
    flex-wrap: wrap;
    margin: 11% 0 0 0;
    width: 80%;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.MRF-table button{
    width: 90%;
    height: 35px;
}
.MRF-table button a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
/* Add PSP */
.add-psp{
    display: flex;

    width: 100%;
    justify-content: center;
}
.add-form{
    display: block;
    width: 50%;
}
.add-form label{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.add-form input{
    width: 100%;
    border: 1px solid green;
}

.add-btn{
    display: flex;
    margin: 10px 0;
    justify-content: center;
}
.add-btn button{
    margin: 0 10px;
}
/* Page */

.page_bar ul{
    margin: 30px 0 ;
    display: flex;
    justify-content: center;
}
.page_bar li{
    list-style-type: none;
    margin: 0 5px;
    cursor: pointer;
}
.page_bar li a{
    text-decoration: none;
    font-size: 14px;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

@media(max-width: 800px){
    .MRF-table{
        width: 100%;
        font-size: 50%;
    }
    .MRF-table button {
        display: flex;
        width: 92%;
        height: 30px;
        justify-content: center;
    }
    .MRF-table button a{
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .MRF-btn{
        display: flex;
        flex-direction: row;
    }
    .MRF-btn input{
        width: 100px;
    }
    .MRF-btn button{
        width: 100%;
    }
    .MRF-btn .add-btn{
        width: 200px;
    }
}